.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********************************/

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Login */
.login-container {
  background: linear-gradient(to bottom, #cde15b, #5f7c3a);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 30%;
  background: linear-gradient(to right, #FFFFFF 0%, #CBE949 100%);
  /* padding: 20px; */
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(160deg, #C0CB25 30%, #477A00 70%);
  color: white;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background: white;
  right: 0;
  top: 30px;
  padding: 10px;
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #C0CB25 0%, #477A00 68%);
  height: 100vh;
  /* padding: 10px; */
  position: relative;
  left: -250px;
  top: -16px;
  transition: 0.3s;
}

.sidebar.open {
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Tabla */
.dashboard {
  padding: 20px;
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

/*************** Login Styles ***************/

.p-login-title {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 20px;
}

.form-login-style {
  width: 90%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-inputs {
  width: 80%;
  height: 15%;
  border-radius: 5px;
  border: 0.5px #477A00 solid;
  outline: none
}

.login-button {
  width: 30%;
  height: 15%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #477A00;
}

.menu-btn {
  background: linear-gradient(160deg, #C0CB25 100%, #477A00 0%);
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.sidebar-btn {
  display: flex;
  flex-direction: row;
  background: linear-gradient(160deg, #ffffff 0%, #cbe949 92%);
  width: 100%;
  height: 50px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.sidebar-btn:hover {
  background: linear-gradient(160deg, #ffffff 0%, #b0d635 92%);
}


.submenu {
  background: linear-gradient(#f6ffcc 0%, #e7ff80 92%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

/* Clase activa cuando el submenú se expande */
.submenu-open {
  max-height: 150px; /* Ajusta según el contenido */
  opacity: 1;
}

/* Clase cuando está cerrado */
.submenu-closed {
  max-height: 0;
  opacity: 0;
}

.sidebar-subtn {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#FFFFFF 0%, #E4E4E4 100%);
  width: 100%;
  height: 50px;
  /* border-radius: 5px; */
  align-content: center;
  align-items: center;
  transition: 0.3s;
}

.sidebar-title {
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 20px;
  
}

.sidebar-subtitle {
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 20px;
  
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header-title{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 20px;
}

